.loader {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 10px solid;
    border-color: #eee #eee #4f6bdc #eee;
    animation: loader 1s ease infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}